# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
packages/

# Optional npm cache directory
.npm/

# VS Code settings
.vscode/
